.day_element {
    width: 6px;
    height: 6px;
    background-color: indianred;
    display: inline-block;
}

.day_element:hover {
    width: 8px;
    height: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.evented {
    width: 8px;
    height: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid indianred;
}

.clicked {
    width: 8px;
    height: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: indianred;
    border: 0px;
}

